.btn-add {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 240px;
  height: 42px;

  background-color: rgb(7, 134, 17, 0.7);
  color: #fff;
  border-radius: 5px;
}
